body            { font-family: sans-serif; background: #2F3C72; }
a, h1, h2       { color: #2F3C72; }
h1, h2          { font-family: 'Roboto', serif; margin: 1; }
h1              { border-bottom: 2px solid #eee; }
h2              { font-size: 1.2em; }


/*
BETAGOV BLUE:  #2F3C72*/





