<html>

<head>
	{{head|safe}}
	<style>
		body {
			font-family: sans-serif;
			background: #2F3C72;
			color: white;
		}

		.jumbotron {
			background-color: #2F3C72;
		}

		.custom-file-input,
		.custom-file-label {
			width: 25%;
		}
	</style>
</head>

<body>
	<div class="container">
		<div class="jumbotron">
			<h1 class="display-4">Create new scheme</h1>
			<p class="lead">Let's create some schemes!</p>
			<hr class="my-4">
			<p>Please input file</p>
			<form action="{{url_for('create_scheme')}}" method="post" enctype="multipart/form-data">
				<div class="custom-file">
					<input type="file" class="custom-file-input" id="customFile" name="file"
						onchange="document.forms[0].submit()">
					<label class="custom-file-label" for="customFile">Choose file</label>
				</div>
			</form>
		</div>
	</div>
</body>

</html>