<html>

<head>
	{{head|safe}}
</head>

<body>
	<div class="container">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="/">Home</a></li>
				<li class="breadcrumb-item active" aria-current="page">Create scheme</li>
			</ol>
		</nav>
		<div class="jumbotron">
			<h1 class="display-4">Create new scheme</h1>
			<p class="lead">Let's create some schemes!</p>
			<hr class="my-4">
			<p>Please input file</p>
			<form action="{{url_for('create_scheme')}}" method="post" enctype="multipart/form-data">
				<div class="custom-file">
					<input type="file" class="custom-file-input" id="customFile" name="file"
						onchange="document.forms[0].submit()">
					<label class="custom-file-label" for="customFile">Choose file</label>
				</div>
			</form>
		</div>
	</div>
</body>

</html>