<html>

<head>
	{{head|safe}}
</head>

<body>

	<script type="text/javascript">
		function yesnoCheck() {
			if (document.getElementById('Stratified').checked) {
				document.getElementById('reveal-if-active').style.display = 'block';
				document.getElementById('btnSubmit').disabled = true;
			} else {
				document.getElementById('reveal-if-active').style.display = 'none';
				document.getElementById('btnSubmit').disabled = false;
			}
		}

		function btnSubmitUpdate() {
			document.getElementById('btnSubmit').disabled = $('#checkboxes_cols :checkbox:checked').length == 0;
		}
	</script>

	<div class="container">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="/">Home</a></li>
				<li class="breadcrumb-item"><a href="/create_scheme">Create scheme</a></li>
				<li class="breadcrumb-item active" aria-current="page">Randomization options</li>
			</ol>
		</nav>
		<div class="jumbotron">
			<h1 class="display-4">Please choose randomization options</h1>
			<p class="lead"></p>
			<hr class="my-4">
			<p></p>
			<form action="{{url_for('visualize_scheme')}}" method='POST'>

				<h3 style="float:left;"> Share of individuals in control group: </h3>
				<input style="margin: 5px;" type="number" id="sample_p" name="sample_p" min="1" max="100" value=50>
				<hr style="opacity: 0;">
				<h3> Type of random assignment: </h3>

				<div id="radio_set">
					<br>
					<input type="radio" onclick="yesnoCheck();" id="Simple" name="randomization_type" checked
						value="Simple"> Simple
					random
					assignment.
					<br><br>
					<input type="radio" onclick="yesnoCheck();" id="Stratified" name="randomization_type"
						value="Stratified"> Stratified random assignment.<br>
					<br>
					<div id="reveal-if-active" style="display:none">
						<div id="checkboxes_cols">
							{% for col in columns %}
							{% if col.lower() not in ['id','participant id','participantid','index','id #'] %}
							<input type="checkbox" onchange="btnSubmitUpdate()" name={{col}} value=1> {{col}}
							<br>
							{% endif %}
							{% endfor %}
						</div>
					</div>
					<br>
				</div>

				<button id="btnSubmit" class="btn btn-primary" type='submit'>Submit</button>
			</form>
		</div>
	</div>
</body>


</html>