
<html>
<style>
body            { font-family: sans-serif; background: #2F3C72; }
/*a, h1, h2       { color: #ffffff ; font-family: 'Roboto'}*/
h1, h2, h3      { font-family: 'Roboto', margin: 1;  color: #ffffff }
div 			{ font-family: 'Roboto', margin: 1;  color: #ffffff }
body 			{
				    padding-top: 50px;
				    padding-right: 30px;
				    padding-bottom: 50px;
				    padding-left: 80px;
				}
</style>

<body>

<!-- <h1>Please choose randomization options</h1>
<br></br>
<br></br>

<form action="{{url_for('visualize_scheme')}}" method = 'POST'>
{% for col in columns %}
<div>
<input type="checkbox" name={{col}} value=1> {{col}}<br>
<br></br>
</div>
{% endfor %} 

<input type='submit' value='Submit'>
</form> -->

</body>
</html>