<html>

<head>
  {{head|safe}}
</head>

<body>
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Update scheme</li>
      </ol>
    </nav>
    <div class="jumbotron">
      <h1 class="display-4">Create new scheme</h1>
      <p class="lead">Let's update some schemes!</p>
      <hr class="my-4">
      <p>Please input files</p>
      <hr style="visibility: hidden;">
      <form method="POST" action="{{url_for('update_scheme')}}" enctype="multipart/form-data">
        <div class="custom-file">
          <input type="file" id="customFile_RCT" name="file_RCT">
        </div>
        <hr style="visibility: hidden;">
        <div class="custom-file">
          <input type="file" id="customFile_new" name="file_new">
        </div>
        <hr style="visibility: hidden;">
        <button class="btn btn-primary" type="submit">Upload</button>
      </form>
    </div>
  </div>
</body>

</html>