<html>

<head>
	{{HTML_HEAD|safe}}
	<style>
		body {
			font-family: sans-serif;
			background: #2F3C72;
			color: white;
		}

		.jumbotron {
			background-color: #2F3C72;
		}
	</style>
</head>

<body>
	<div class="jumbotron">
		<h1 class="display-4">Welcome to the randomizer!</h1>
		<p class="lead">What would you like to do?</p>
		<hr class="my-4">
		<p></p>
		<a class="btn btn-light btn-lg" href="/create_scheme" role="button">Create new random assignment scheme</a>
		<span>or</span>
		<a class="btn btn-light btn-lg" href="/update_scheme" role="button">Update scheme</a>
	</div>
</body>

</html>